<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamel.thuglifegame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GameActivity"/>
        <activity android:name=".BankActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".DealerActivity" />
        <activity android:name=".HospitalActivity" />
        <activity android:name=".QuestActivity"/>
        <activity android:name=".CasinoActivity" />
        <activity android:name=".PrisonActivity" />
        <activity android:name=".VIPActivity"></activity>
    </application>

</manifest>